{% extends "otree/Base_UserFacing.html" %}
{% load otree static %}

{% block head_title %}{% endblock %}
{% block tab_title_data %}{% include 'otree/includes/debug_info_tab_title.html' %}{% endblock %}

{% block body_main %}
    {% if is_defined('view.is_debug') and view.is_debug %}
    <script>
    function _showJsErrorAlert() {
        window._hasJsErrors = true;
        var el = document.getElementById('_js-errors-alert');
        if (el) el.style.display = 'block';
    }
    window.addEventListener('error', _showJsErrorAlert);
    window.addEventListener('unhandledrejection', _showJsErrorAlert);
    </script>
    {% endif %}
    {% if is_defined('js_vars') and js_vars %}
    <script>
      var js_vars = {{ js_vars }};
      window.otreeTradingConfig = js_vars;
      {% if view.remaining_timeout_seconds() != None %}
      window.otreeTradingConfig.otreeRemainingTimeoutSeconds = {{ view.remaining_timeout_seconds() }};
      {% endif %}
    </script>
    {% endif %}
    <link rel="stylesheet" href="{% static 'trader_bridge_app/vue/trader-embed.css' %}?v=20260306-4">
    <style>
      html, body {
        height: 100%;
      }
      #trader-vue-app {
        min-height: 100vh;
      }
      .otree-form {
        margin: 0;
        width: 100%;
      }
    </style>
    <form class="otree-form" role="form" id="form" autocomplete="off" method="post">
      <script src="{% static 'otree/js/formInputs.js' %}"></script>
      <div id="trader-vue-app"></div>
      <noscript>This page requires JavaScript to load the trading interface.</noscript>
    </form>
{% endblock %}

{% block debug_info %}
    {% if is_defined('view.is_debug') and view.is_debug %}
        <br>
        {% include 'otree/includes/debug_info.html' %}
    {% endif %}
{% endblock %}

{% block internal_scripts %}
    {{ super() }}
    <script id="websocket-redirect" src="{% static 'otree/js/page-websocket-redirect.js' %}"
            data-socket-url="{{ view.socket_url() }}"
            data-is-debug="{{ view.is_debug || '' }}"
    ></script>
    {% if view.remaining_timeout_seconds() != None %}
        {% include 'otree/includes/TimeLimit.js.html' %}
    {% endif %}
    <script src="{% static 'otree/js/back_button.js' %}"></script>
    {% if view.preserve_unsubmitted_inputs %}
        <script src="{% static 'otree/js/preserve_unsubmitted_inputs.js' %}"></script>
    {% endif %}
{% endblock %}

{% block live %}
  {% if has_live_method %}
    <form id="liveform"></form>
    <script src="{% static 'otree/js/live.js' %}" id="otree-live" data-socket-url="{{ view.live_url() }}"></script>
  {% endif %}
{% endblock %}

{% block trial %}
  {% if has_trial %}
    <script>var TRIALS = {{ trials_json }}; var _TRIALS_SSE = {{ _trials_use_roundtrip_mode }}</script>
    <script src="{% static 'otree/js/trials-pre.js' %}" id="otree-trial" data-socket-url="{{ view.trial_url() }}"></script>
    <script src="{% static 'otree/js/otree-front.js' %}"></script>
    <script src="{% static 'otree/js/trials-core.js' %}"></script>
  {% endif %}
{% endblock %}

{% block scripts %}
<script src="{% static 'trader_bridge_app/vue/trader-embed.js' %}?v=20260306-4"></script>
{% endblock %}
